.header {
  display: flex;
  align-items: center;
  height: 64px;
  border-bottom: 0.5px solid #d2d0d0;
  background-color: white;
  position: fixed;
  z-index: 12;
  width: 100vw;

  &__create {
    display: flex;
    align-items: center;
    padding-right: 10px;
    background-color: white;
    border-radius: 24px;
    height: 48px;
    color: #3c4043;
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;

    &_icon {
      font-size: 36px;
      font-weight: bold;
      margin-right: 3px;
      background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      background-color: rgb(243, 243, 243);
      box-shadow: 0px 0px 15px -2px rgba(122,122,122,1);
      transition: box-shadow 0.3s ease-in-out;
    }
  }
  &__today {
    box-shadow: #3c4043;
    background-color: transparent;
    min-height: 40px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 15px;
    cursor: pointer;

    &:hover {
      background-color: rgb(243, 243, 243);
    }

  }
  &__selected-period {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    margin-left: 20px;
    color: #3c4043;

    @include for-middle-down {
      font-size: 16px;
      margin-left: 5px;
    }

    @include for-small-down {
      position: absolute;
      font-size: 14px;
      top: 60px;
      left: 10px;
    }
  }

  &__settings-actions {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    @include for-middle-down {
      display: none;
    }
  }

  &__setting-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: rgb(243, 243, 243);
    }
  }

  &__settings-modal {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57px;
    right: 25px;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: -1px 9px 18px -9px rgba(0, 0, 0, 0.68);
  }

  &__close-modal-btn {
    margin-left: auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c4043;
    cursor: pointer;
    background-color: white;
    width: 40px;
    min-height: 40px;
    border-radius: 40px;
    border: none;
    &:hover{
      background-color: rgb(243, 243, 243);
    }
  }
  &__settings-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__settings-configes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0 10px;
  }

  &__color-label {
    margin-right: 30px;
    cursor: pointer;
  }

  &__color-input {
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  &__submit-btn {
    width: 96px;
    margin-left: 44px;
    margin-top: 40px;
    background-color: #1a73e8;
    color: white;
    min-height: 40px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0755bb;

    }
  }
}

.weeks-selectors-block {
  display: flex;
  margin-left: 20px;
  align-items: center;

  &__previous-week {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c4043;
    border: none;
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    &:hover{
      background-color: rgb(243, 243, 243);
    }
  }

  &__next-week {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c4043;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    &:hover{
      background-color: rgb(243, 243, 243);
    }
  }
}
